<div class="register-photo">
  <div class="form-container">
    <form>
      <h2 class="text-center"><strong>Capture Verification Code</strong></h2>
      <p>Please enter the verification code sent to you.</p>
      <mat-form-field appearance="fill">
        <mat-label>verification code </mat-label>
        <input matInput placeholder="Verification code" />

      </mat-form-field><br>
      <button mat-raised-button class="allbuttons" routerLink="/otp-screen">
        Submit</button>
        <br />
        <p class="member-link">
          Didn’t receive a verification code?
          <a mat-button routerLink="/login">  Click here to resend</a>
        </p>
      <br /><br />
    </form>
    <div class="image-holder"></div>
  </div>
</div>
