<!-- <mat-list>
  <mat-list-item *ngFor="let user of closed">
    <button mat-raised-button color="warn">
    {{user}}
</button>
  </mat-list-item>
</mat-list> -->
<section>

  <div class="button-row">
    <button mat-button>Sunday</button>

  </div>
  <div class="button-row">
    <button mat-button>Closed</button>

  </div>


</section>
<section>

  <div class="button-row">
    <button mat-button>Monday</button>

  </div>
  <div class="button-row">
    <button mat-button>Closed</button>

  </div>


</section>
<section>

  <div class="button-row">
    <button mat-button>Tuesday</button>

  </div>
  <div class="button-row">
    <button mat-button>Closed</button>

  </div>


</section>
<section>

  <div class="button-row">
    <button mat-button>Wednesday</button>

  </div>
  <div class="button-row">
    <button mat-button>Closed</button>

  </div>


</section>
<section>

  <div class="button-row">
    <button mat-button>Thursday</button>

  </div>
  <div class="button-row">
    <button mat-button>Closed</button>

  </div>


</section>
<section>

  <div class="button-row">
    <button mat-button>Friday</button>

  </div>
  <div class="button-row">
    <button mat-button>Closed</button>

  </div>


</section>

<section>

  <div class="button-row">
    <button mat-button>Saturday</button>

  </div>
  <div class="button-row">
    <button mat-button>Closed</button>


  </div>


</section>

