
<div *ngFor="let buzhours of businessHours">

  <div fxLayout="row" fxLayoutGap="40px" *ngIf = "!isNotVisible">
    <span>{{buzhours.day}} </span>
    <span> <button mat-stroked-button class="closed-button">Closed</button> </span>

    <button mat-stroked-button class="icon-btn-width" (click) = toggleDisplay()><mat-icon>add</mat-icon></button>
  </div><br>

  <div fxLayout="row" fxLayoutGap="40px" *ngIf = "!isShow">
    <span>Monday </span>
    <button mat-stroked-button class="btn-toggle">Closed</button>
    <button mat-stroked-button class="btn-toggle">Closed</button>
    <button mat-stroked-button class="icon-btn-width" (click) = toggleDisplay()><mat-icon>highlight_off</mat-icon></button>
  </div><br>


</div>


