<!-- level 1 -->
<mat-grid-list cols="4" gutterSize="2px" rowHeight="80px">
  <mat-grid-tile>
    <p>Dealership Name</p>
  </mat-grid-tile>
  <mat-grid-tile>
    <p>Dealership Prinsciple</p>
  </mat-grid-tile>
  <mat-grid-tile>
    <p></p>
  </mat-grid-tile>
  <mat-grid-tile>
    <p>Affiliated Dealership</p>
  </mat-grid-tile>
  <!--Dealership Name-------------------------------------------------- -->
  <mat-grid-tile>
    <mat-form-field class="example-full-width" appearance="outline">
      <input matInput />
    </mat-form-field>
  </mat-grid-tile>
  <!--First Name-------------------------------------------------- -->
  <mat-grid-tile>
    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput />
      <!-- <mat-hint [style.text-align]="'center'">Hint</mat-hint> -->
    </mat-form-field>
  </mat-grid-tile>
  <!--Last Name---------------------------------------------------->
  <mat-grid-tile>
    <mat-form-field appearance="outline" matTooltipPosition="after">
      <mat-label>Last Name</mat-label>
      <input matInput />
    </mat-form-field>
  </mat-grid-tile>
  <!--Affiliated Search---------------------------------------------------->
  <mat-grid-tile>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-icon matSuffix>search</mat-icon>
      <input matInput />
    </mat-form-field>
  </mat-grid-tile>
</mat-grid-list>





<!-- level 2 -->
<mat-grid-list cols="4" gutterSize="2px" rowHeight="80px">
  <mat-grid-tile>
    <p>Dealership Logo</p>
  </mat-grid-tile>
  <mat-grid-tile>
    <p>Cell#</p>
  </mat-grid-tile>
  <mat-grid-tile>
    <p></p>
  </mat-grid-tile>
  <mat-grid-tile>
    <p>Add Sales Hours</p>
  </mat-grid-tile>
  <!--Dealership Logo-------------------------------------------------- -->
  <mat-grid-tile>
    <mat-form-field class="example-full-width" appearance="outline">
      <input matInput />
    </mat-form-field>
  </mat-grid-tile>
  <!-- Cell-------------------------------------------------- -->
  <mat-grid-tile>
    <mat-form-field class="example-full-width" appearance="outline">
      <input matInput />
       <!-- <mat-hint [style.text-align]="'center'">Hint</mat-hint> -->
    </mat-form-field>
  </mat-grid-tile>
  <!--Add Sales Hours---------------------------------------------------->
  <mat-grid-tile>
  </mat-grid-tile>
  <!--Add Sales Hours---------------------------------------------------->
  <mat-grid-tile>
    <app-sales-hours></app-sales-hours>
  </mat-grid-tile>
</mat-grid-list>



<!-- level 3 -->
<mat-grid-list cols="4" gutterSize="2px" rowHeight="80px">
  <mat-grid-tile>
    <p>Dealership Phone Number</p>
  </mat-grid-tile>
  <mat-grid-tile>
    <p>Email Address</p>
  </mat-grid-tile>
  <mat-grid-tile>
    <p></p>
  </mat-grid-tile>
  <mat-grid-tile>
  </mat-grid-tile>
  <!--Dealership Phone number-------------------------------------------------- -->
  <mat-grid-tile>
    <mat-form-field class="example-full-width" appearance="outline">
      <input matInput />
    </mat-form-field>
  </mat-grid-tile>
  <!-- Email Address-------------------------------------------------- -->
  <mat-grid-tile>
    <mat-form-field class="example-full-width" appearance="outline">
      <input matInput />
       <!-- <mat-hint [style.text-align]="'center'">Hint</mat-hint> -->
    </mat-form-field>
  </mat-grid-tile>
  <!--Add Sales Hours---------------------------------------------------->
  <mat-grid-tile>
  </mat-grid-tile>
  <!--Add Sales Hours---------------------------------------------------->
  <mat-grid-tile>
    <p>Status</p>

  </mat-grid-tile>
</mat-grid-list>




<!-- level 4 -->
<mat-grid-list cols="4" gutterSize="2px" rowHeight="80px">
  <mat-grid-tile>
    <p>Dealership Email Address</p>
  </mat-grid-tile>

  <mat-grid-tile>
  </mat-grid-tile>
  <mat-grid-tile>
  </mat-grid-tile>
  <mat-grid-tile>
  </mat-grid-tile>
  <!--Dealership Email-------------------------------------------------- -->
  <mat-grid-tile>
    <mat-form-field class="example-full-width" appearance="outline">
      <input matInput />
    </mat-form-field>
  </mat-grid-tile>
  <!-- Email Address-------------------------------------------------- -->
  <mat-grid-tile>
  </mat-grid-tile>
  <!--Add Sales Hours---------------------------------------------------->
  <mat-grid-tile>

  </mat-grid-tile>
  <!--Add Sales Hours---------------------------------------------------->
  <mat-grid-tile>
    <!--Active InActive ---------------------------------------------------->
    <app-admin-checkboxes></app-admin-checkboxes>
  </mat-grid-tile>
</mat-grid-list>






<!-- level 5 -->
<mat-grid-list cols="4" gutterSize="2px" rowHeight="80px">
  <mat-grid-tile>
    <p>Dealership Url</p>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-list>
      <mat-divider></mat-divider>
      <mat-list-item>Alternate Contact</mat-list-item>
    </mat-list>
  </mat-grid-tile>
  <mat-grid-tile>
    <p></p>
  </mat-grid-tile>
  <mat-grid-tile>
  </mat-grid-tile>
  <!--Dealership Name-------------------------------------------------- -->
  <mat-grid-tile>
    <mat-form-field class="example-full-width" appearance="outline">
      <input matInput />
    </mat-form-field>
  </mat-grid-tile>
  <!--First Name-------------------------------------------------- -->
  <mat-grid-tile>
    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput />
      <!-- <mat-hint [style.text-align]="'center'">Hint</mat-hint> -->
    </mat-form-field>
  </mat-grid-tile>
  <!--Last Name---------------------------------------------------->
  <mat-grid-tile>
    <mat-form-field appearance="outline" matTooltipPosition="after">
      <mat-label>Last Name</mat-label>
      <input matInput />
    </mat-form-field>
  </mat-grid-tile>
  <!--Affiliated Search---------------------------------------------------->
  <mat-grid-tile>
    <button mat-raised-button color="primary">Update Details</button>
    </mat-grid-tile>
</mat-grid-list>



<!-- level 6 ---------------------------------------------------->
<mat-grid-list cols="4" gutterSize="2px" rowHeight="80px">
  <mat-grid-tile>
    <p>Dealership Address</p>
  </mat-grid-tile>
  <mat-grid-tile>

  </mat-grid-tile>
  <mat-grid-tile>
    <p>Cell#</p>
  </mat-grid-tile>
  <mat-grid-tile>
  </mat-grid-tile>

    <!--First Name-------------------------------------------------- -->
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Address1</mat-label>
        <input matInput />
        <!-- <mat-hint [style.text-align]="'center'">Hint</mat-hint> -->
      </mat-form-field>
    </mat-grid-tile>
    <!--Last Name---------------------------------------------------->
    <mat-grid-tile>
      <mat-form-field appearance="outline" matTooltipPosition="after">
        <mat-label>Address2</mat-label>
        <input matInput />
      </mat-form-field>
    </mat-grid-tile>
  <!--Dealership Name-------------------------------------------------- -->
  <mat-grid-tile>
    <mat-form-field class="example-full-width" appearance="outline">
      <input matInput />
    </mat-form-field>
  </mat-grid-tile>

  <!--Affiliated Search---------------------------------------------------->

</mat-grid-list>


<!-- level 7 ---------------------------------------------------->
<mat-grid-list cols="4" gutterSize="2px" rowHeight="80px">
  <mat-grid-tile>
    <p>City</p>
  </mat-grid-tile>
  <mat-grid-tile>

  </mat-grid-tile>
  <mat-grid-tile>
    <p>Email Address</p>
  </mat-grid-tile>
  <mat-grid-tile>

  </mat-grid-tile>

    <!--Searc City-------------------------------------------------- -->
    <mat-grid-tile>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-icon matSuffix>search</mat-icon>
        <input matInput />
      </mat-form-field>
    </mat-grid-tile>

    <!--Email Address---------------------------------------------------->
    <mat-grid-tile>

    </mat-grid-tile>
  <!--Dealership Name-------------------------------------------------- -->
  <mat-grid-tile>
    <mat-form-field class="example-full-width" appearance="outline">
      <input matInput />
    </mat-form-field>
  </mat-grid-tile>
  <!--Check Boxes ---------------------------------------------------->
  <!--Update Details---------------------------------------------------->

</mat-grid-list>







<!-- level 8 ---------------------------------------------------->
<mat-grid-list cols="4" gutterSize="2px" rowHeight="80px">
  <mat-grid-tile>
    <p>State</p>
  </mat-grid-tile>
  <mat-grid-tile>
    <p>Zip Code</p>
  </mat-grid-tile>
  <mat-grid-tile>
  </mat-grid-tile>
  <mat-grid-tile>
  </mat-grid-tile>
     <!--First Name-------------------------------------------------- -->
  <mat-grid-tile>
    <mat-form-field appearance="outline">
      <mat-label>State</mat-label>
      <mat-icon matSuffix>search</mat-icon>
      <input matInput />
      <!-- <mat-hint [style.text-align]="'center'">Hint</mat-hint> -->
    </mat-form-field>
  </mat-grid-tile>
  <!--Last Name---------------------------------------------------->
  <mat-grid-tile>
    <mat-form-field appearance="outline" matTooltipPosition="after">
      <mat-label>Zip Code </mat-label>

      <input matInput />
    </mat-form-field>
  </mat-grid-tile>
    <!--Email Address---------------------------------------------------->

      <mat-grid-tile>


        </mat-grid-tile>


  <!--Dealership Name-------------------------------------------------- -->
</mat-grid-list>








