<div class="register-photo">
  <div class="form-container">
      <form>
        <p>Welcome Back</p>
          <h2 class="text-center"><strong>Sign into your account</strong></h2>

          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email">
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password">
            <mat-icon matSuffix>visibility</mat-icon>
          </mat-form-field><br>
          <mat-checkbox class="left-align">Remember me</mat-checkbox>
          <a mat-button routerLink="/reset"> Forgot password</a><br><br>
          <button mat-raised-button color="primary" routerLink="/dashboard">SignIn</button><br><br>
          <p>Not already a member? <a mat-button routerLink="/register"> SignUp</a></p>
      </form>
       <div class="image-holder"></div>
  </div>
</div>
