<div class="register-photo">
  <div class="form-container">
      <form>
        <p>Welcome Back</p>
          <h2 class="text-center"><strong>Sign into your account</strong></h2>

          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email">
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password">
            <mat-icon matSuffix>visibility</mat-icon>
          </mat-form-field><br><br>
          <mat-slide-toggle>Remember Me</mat-slide-toggle><br><br>
          <button mat-raised-button color="primary">Primary</button>
          <a class="already" href="#">You already have an account? Login here.</a>
      </form>
       <div class="image-holder"></div>
  </div>
</div>
