<div class="register-photo">
  <div class="form-container">
    <form>
      <p>Welcome</p>
      <h2 class="text-center"><strong>Change your password</strong></h2>

      <!-- <div class="validation-error">Invalid Username or Password</div> -->
      <!-- Error Message Component to Come Here -->

      <mat-form-field appearance="fill">
        <mat-label>Old Password</mat-label>
        <input
          matInput
          placeholder="Password"
          type="password"
          [type]="hide ? 'password' : 'text'"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>New Password</mat-label>
        <input
          matInput
          placeholder="Password"
          type="password"
          [type]="hide ? 'password' : 'text'"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <p>
        New password must be minimum of 7 digits alpha and numeric with at least
        1 special character.
      </p>
      <mat-form-field appearance="fill">
        <mat-label>Confirm New Password</mat-label>
        <input
          matInput
          placeholder="Password"
          type="password"
          [type]="hide ? 'password' : 'text'"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>

      <br />

      <button mat-raised-button class="allbuttons" routerLink="/dashboard">
        Change Password</button
      ><br /><br />
    </form>
    <div class="image-holder"></div>
  </div>
</div>
