

<!-- level 2 -->
<mat-grid-list cols="4" gutterSize="2px" rowHeight="80px">
  <mat-grid-tile>
    <p>Dealership Logo</p>
  </mat-grid-tile>
  <mat-grid-tile>
    <p>Cell#</p>
  </mat-grid-tile>
  <mat-grid-tile>
    <p></p>
  </mat-grid-tile>
  <mat-grid-tile>
    <p>Add Sales Hours</p>
  </mat-grid-tile>
  <!--Dealership Logo-------------------------------------------------- -->
  <mat-grid-tile>
    <mat-form-field class="example-full-width" appearance="outline">
      <input matInput />
    </mat-form-field>
  </mat-grid-tile>
  <!-- Cell-------------------------------------------------- -->
  <mat-grid-tile>
    <mat-form-field class="example-full-width" appearance="outline">
      <input matInput />
       <!-- <mat-hint [style.text-align]="'center'">Hint</mat-hint> -->
    </mat-form-field>
  </mat-grid-tile>
  <!--Add Sales Hours---------------------------------------------------->
  <mat-grid-tile>

  </mat-grid-tile>
  <!--Add Sales Hours---------------------------------------------------->
  <mat-grid-tile>
    <mat-form-field appearance="outline">
      <mat-label>Closed</mat-label>
      <input matInput />
    </mat-form-field>
  </mat-grid-tile>
</mat-grid-list>
