<p>Add Systems Administrator</p>
<div class="example-container">
  <mat-form-field appearance="fill">
    <mat-label>Dealership Name</mat-label>
    <input matInput #input maxlength="10" placeholder="FirstName">
    <mat-hint align ="end">{{input.value?.length || 0}}/10</mat-hint>
  </mat-form-field><br>
  <p>Administer Affiliated Dealerships?</p>
  <mat-radio-group >
    <mat-radio-button class="example-margin" value="after">Yes</mat-radio-button>
    <mat-radio-button class="example-margin" value="before">No</mat-radio-button>
  </mat-radio-group><br><br>
  <mat-form-field appearance="fill">
    <mat-label>Administrator Name</mat-label>
    <input matInput #input maxlength="10" placeholder="LastName">
    <mat-hint align ="end">{{input.value?.length || 0}}/10</mat-hint>
  </mat-form-field><br>
  <mat-form-field  appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput #input placeholder="Email">
  </mat-form-field><br>
  <mat-form-field  appearance="fill">
    <mat-label>Cell</mat-label>
    <input matInput #input placeholder="Email">
  </mat-form-field>
  <section class="example-section">
    <mat-radio-group>
      <mat-radio-button class="example-margin" value="after">Active</mat-radio-button>
      <mat-radio-button class="example-margin" value="after">InActive</mat-radio-button>
      <mat-radio-button class="example-margin" value="after">Blocked</mat-radio-button>
    </mat-radio-group>
  </section>


</div>
