<mat-toolbar [ngStyle]="{ color: 'white' }">
  <img src="assets/app_logo.png" />
  <span class="gap"></span>
  <span class="spacer"></span>
  <a>
    <button
      class="btnCircle btnBackgroundColor btnColor"
      [matMenuTriggerFor]="menu">
      R
    </button></a>
  <span [ngStyle]="{ color: 'grey' }">Rob</span>
  <a mat-icon-button [matMenuTriggerFor]="moreitems">
    <mat-icon class="grey-icon">more_vert</mat-icon>
  </a>

  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/change-password">Change Password</button>
    <button mat-menu-item (click)="openDialog()">
      Add Systems Administrator
    </button>
    <button mat-menu-item routerLink="/manage-admin">
      Manage Systems Administrator
    </button>
    <button mat-menu-item>Manage Vehicle Make</button>
    <button mat-menu-item routerLink="/dashboard">Main Menu</button>
    <button mat-menu-item routerLink="/login">LogOut</button>
  </mat-menu>
  <mat-menu #moreitems="matMenu">
    <button mat-menu-item>Profile</button>
    <button mat-menu-item>Settings</button>
  </mat-menu>
</mat-toolbar>
