.main-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}
.container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
.main-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
.allbuttons {
  color: #ffffff;
  background-color: #25b34f;
  min-width: unset!important;
}
