.main-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}
.container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
.main-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
.allbuttons {
  color: #ffffff;
  background-color: #25b34f;
  min-width: unset!important;
}


.myform-wrapper {
  margin: 50px;
  width: 350px;

  .mat-form-field {
      width: 100%;
  }

  .mat-toolbar-single-row {
      height: auto !important;
      background: transparent;

      button {
          width: 30%;
      }
  }
}

#fileUpload {
  position: absolute;
  z-index: 9;
  opacity: 0;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  cursor: pointer;
}


// .custom-form{
//   width: 300px;
// }

// .grid-container
// {align-items: center; }



.container {
  display: grid;
  grid-auto-columns: minmax(15rem, auto);
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-gap: 1rem;
  flex-basis: 20%;
}
.item {
  background: #747373;
  border: 3px solid #6e6e6e;
  color: #636262;
  padding: 2rem;
  font-size: 2rem;
  text-align: center;
}
:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
// .example-full-width {
//   width: 100%;
// }
.small-form-field{
  width:170px !important;
}
.allbuttons {
  color: #ffffff;
  background-color: #25b34f;
  width: 300px!important;
  min-width: unset!important;
}
