<div class="register-photo">
  <div class="form-container">
      <form>
          <h2 class="text-center"><strong>Account sign up</strong></h2>

          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email">
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password">
            <mat-icon matSuffix>visibility</mat-icon>
          </mat-form-field><br>
          <button mat-raised-button color="primary" routerLink="/signin" color="primary">SignUp</button><br><br>
          <p>Already have an account <a mat-button routerLink="/login"> SignIn</a></p>
      </form>
       <div class="image-holder"></div>
  </div>
</div>
