
<mat-chip>Add System Administrator</mat-chip><br><br>
<div>
  <table  cellspacing="0"><tr>
    <td>
      <label>First Name</label>
      <mat-form-field class="small-form-field" appearance="outline">

      <input matInput>
    </mat-form-field></td>

    <td>
      <label>Last Name</label>
      <mat-form-field class="small-form-field" appearance="outline">
      <input matInput>
    </mat-form-field></td>

    </table>
    <label>Email</label>
    <mat-form-field class="small-form-field" appearance="outline">
    <input matInput>
  </mat-form-field>


  <section class="example-section">
    <mat-radio-group>
      <mat-radio-button class="example-margin" value="after">Active</mat-radio-button>
      <mat-radio-button class="example-margin" value="after">InActive</mat-radio-button>
      <mat-radio-button class="example-margin" value="after">Blocked</mat-radio-button>
    </mat-radio-group>
  </section><br>
  <button mat-raised-button class="allbuttons" routerLink="/dashboard">
    Update Details
  </button>

</div>
