<label>Dealership Name</label>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-icon matSuffix>search</mat-icon>
    <mat-label>Affialiated Dealerships</mat-label>
    <input matInput />
  </mat-form-field>
  <label>Dealership Name</label>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-icon matSuffix>search</mat-icon>
    <mat-label>Affialiated Dealerships</mat-label>
    <input matInput />
  </mat-form-field>
  <label>Dealership Name</label>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-icon matSuffix>search</mat-icon>
    <mat-label>Affialiated Dealerships</mat-label>
    <input matInput />
  </mat-form-field>
  <label>Dealership Name</label>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-icon matSuffix>search</mat-icon>
    <mat-label>Affialiated Dealerships</mat-label>
    <input matInput />
  </mat-form-field>
  <label>Dealership Name</label>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-icon matSuffix>search</mat-icon>
    <mat-label>Affialiated Dealerships</mat-label>
    <input matInput />
  </mat-form-field>
  <label>Dealership Name</label>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-icon matSuffix>search</mat-icon>
    <mat-label>Affialiated Dealerships</mat-label>
    <input matInput />
  </mat-form-field>
  <label>Dealership Name</label>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-icon matSuffix>search</mat-icon>
    <mat-label>Affialiated Dealerships</mat-label>
    <input matInput />
  </mat-form-field>
