
<mat-grid-list cols="4" gutterSize="2px" rowHeight="80px">
	<mat-grid-tile>
		<mat-form-field appearance="outline">
			<mat-label>Dealership Name</mat-label>
			<input matInput type="text" >
            </mat-form-field>
	</mat-grid-tile>

	<mat-grid-tile>
		<mat-form-field appearance="outline">
			<mat-label>First Name</mat-label>
			<input matInput >
            </mat-form-field>
	</mat-grid-tile>
	<mat-grid-tile>
		<mat-form-field appearance="outline" matTooltipPosition="after">
			<mat-label>Last Name</mat-label>
			<input matInput >
            </mat-form-field>
	</mat-grid-tile>
	<mat-grid-tile>
		<mat-form-field appearance="outline">
			<mat-label>Affiliated Dealerships</mat-label>
			<input matInput >
            </mat-form-field>
	</mat-grid-tile>

</mat-grid-list>  <br>

<mat-grid-list cols="4" gutterSize="2px" rowHeight="80px">
	<mat-grid-tile>
    <mat-form-field>
      <mat-toolbar>
          <button mat-flat-button color="primary">
            Browse File
          </button>
          <input matInput readonly name="name" />
        </mat-toolbar>

        <!-- Fetch selected filed on change -->
        <input type="file" #fileInput id="uploadFile" (change)="uploadFileEvt($event)" name="uploadFile" multiple="multiple"
          accept="image/*" />

    </mat-form-field>
	</mat-grid-tile>
	<mat-grid-tile>
		<mat-form-field appearance="outline">
			<mat-label>First Name</mat-label>
			<input matInput >
            </mat-form-field>

	</mat-grid-tile>
	<mat-grid-tile>
		<mat-form-field appearance="outline" matTooltipPosition="after">
			<mat-label>Last Name</mat-label>
			<input matInput >
            </mat-form-field>
	</mat-grid-tile>
	<mat-grid-tile>
		<mat-form-field appearance="outline">
			<mat-label>Platinum Mechanicsburg</mat-label>
			<input matInput >
            </mat-form-field>
	</mat-grid-tile>

</mat-grid-list>  <br>

<mat-grid-list cols="4" gutterSize="2px" rowHeight="80px">
  <mat-grid-tile>
		<mat-form-field appearance="outline">
			<mat-label>First Name</mat-label>
			<input matInput >
            </mat-form-field>

	</mat-grid-tile>
	<mat-grid-tile>
		<mat-form-field appearance="outline">
			<mat-label>First Name</mat-label>
			<input matInput >
            </mat-form-field>

	</mat-grid-tile>
	<mat-grid-tile>
		<mat-form-field appearance="outline" matTooltipPosition="after">
			<mat-label>Last Name</mat-label>
			<input matInput >
            </mat-form-field>
	</mat-grid-tile>
	<mat-grid-tile>
		<mat-form-field appearance="outline">
			<mat-label>Platinum Mechanicsburg</mat-label>
			<input matInput >
            </mat-form-field>
	</mat-grid-tile>

</mat-grid-list>  <br>

<mat-grid-list cols="4" gutterSize="2px" rowHeight="80px">
  <mat-grid-tile>
		<mat-form-field appearance="outline">
			<mat-label>First Name</mat-label>
			<input matInput >
            </mat-form-field>

	</mat-grid-tile>
	<mat-grid-tile>
		<mat-form-field appearance="outline">
			<mat-label>First Name</mat-label>
			<input matInput >
            </mat-form-field>

	</mat-grid-tile>
	<mat-grid-tile>
		<mat-form-field appearance="outline" matTooltipPosition="after">
			<mat-label>Last Name</mat-label>
			<input matInput >
            </mat-form-field>
	</mat-grid-tile>
	<mat-grid-tile>
		<mat-form-field appearance="outline">
			<mat-label>Platinum Mechanicsburg</mat-label>
			<input matInput >
            </mat-form-field>
	</mat-grid-tile>

</mat-grid-list>  <br>


<mat-grid-list cols="4" gutterSize="2px" rowHeight="80px">
  <mat-grid-tile>
		<mat-form-field appearance="outline">
			<mat-label>First Name</mat-label>
			<input matInput >
            </mat-form-field>

	</mat-grid-tile>
	<mat-grid-tile>
		<mat-form-field appearance="outline">
			<mat-label>First Name</mat-label>
			<input matInput >
            </mat-form-field>

	</mat-grid-tile>
	<mat-grid-tile>
		<mat-form-field appearance="outline" matTooltipPosition="after">
			<mat-label>Last Name</mat-label>
			<input matInput >
            </mat-form-field>
	</mat-grid-tile>
	<mat-grid-tile>
		<mat-form-field appearance="outline">
			<mat-label>Platinum Mechanicsburg</mat-label>
			<input matInput >
            </mat-form-field>
	</mat-grid-tile>

</mat-grid-list>  <br>


<mat-grid-list cols="4" gutterSize="2px" rowHeight="80px">
  <mat-grid-tile>
		<mat-form-field appearance="outline">
			<mat-label>First Name</mat-label>
			<input matInput >
            </mat-form-field>

	</mat-grid-tile>
	<mat-grid-tile>
		<mat-form-field appearance="outline">
			<mat-label>First Name</mat-label>
			<input matInput >
            </mat-form-field>

	</mat-grid-tile>
	<mat-grid-tile>
		<mat-form-field appearance="outline" matTooltipPosition="after">
			<mat-label>Last Name</mat-label>
			<input matInput >
            </mat-form-field>
	</mat-grid-tile>
	<mat-grid-tile>
		<mat-form-field appearance="outline">
			<mat-label>Platinum Mechanicsburg</mat-label>
			<input matInput >
            </mat-form-field>
	</mat-grid-tile>

</mat-grid-list>  <br>


<mat-grid-list cols="4" gutterSize="2px" rowHeight="80px">
  <mat-grid-tile>
		<mat-form-field appearance="outline">
			<mat-label>First Name</mat-label>
			<input matInput >
            </mat-form-field>

	</mat-grid-tile>
	<mat-grid-tile>
		<mat-form-field appearance="outline">
			<mat-label>First Name</mat-label>
			<input matInput >
            </mat-form-field>

	</mat-grid-tile>
	<mat-grid-tile>
		<mat-form-field appearance="outline" matTooltipPosition="after">
			<mat-label>Last Name</mat-label>
			<input matInput >
            </mat-form-field>
	</mat-grid-tile>
	<mat-grid-tile>
		<mat-form-field appearance="outline">
			<mat-label>Platinum Mechanicsburg</mat-label>
			<input matInput >
            </mat-form-field>
	</mat-grid-tile>

</mat-grid-list>  <br>


