

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 50%;
}

.btn-align  {
  display: flex;
  justify-content: space-between;

}
.search-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.search-full-width {
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}

/* .mat-header-cell {
  flex-direction: column;
  justify-content: center;
}

.mat-cell {
  text-align: center;
  justify-content:center;
} */
.active-pink-2 input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #f48fb1;
  box-shadow: 0 1px 0 0 #f48fb1;
  }

  .active-pink input[type=text] {
  border-bottom: 1px solid #f48fb1;
  box-shadow: 0 1px 0 0 #f48fb1;
  }

  .active-purple-2 input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #ce93d8;
  box-shadow: 0 1px 0 0 #ce93d8;
  }

  .active-purple input[type=text] {
  border-bottom: 1px solid #ce93d8;
  box-shadow: 0 1px 0 0 #ce93d8;
  }

  .active-cyan-2 input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
  }

  .button {
  display: inline-block;
  vertical-align: top;
  width: 80px;
  height: 30px;
  line-height: 30px;
  background: gray;
  margin: 0 4px;
  text-align: center;
}

  .active-cyan input[type=text] {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
  }

  .active-cyan .fa,
  .active-cyan-2 .fa {
  color: #4dd0e1;
  }

  .active-purple .fa,
  .active-purple-2 .fa {
  color: #ce93d8;
  }

  .active-pink .fa,
  .active-pink-2 .fa {
  color: #f48fb1;
  }
  section {
    display: table;
  }

  .btn-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }

  .button-row {
    display: table-cell;
    width: 490px;
  }

  .button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  button {
    margin: 0 8px 8px 0;
  }

