body {
  overflow-y: hidden;
}

.content {
  /*margin-top: 58px;*/
  justify-content: center;
  max-width: 100%;
  width: 1024px;
  margin: 0 auto;

}
table {
  width: 100%;
  justify-content: center;
  }

.mat-chip-list-wrapper {
  max-width: 1024px;
  margin: 0 auto !important;
}
.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
